document-alchemy-cli-*
######################################################################
.documentalchemycli.json
docco
hold
lib-cov
node_modules
module
#*.html
lib/*.js
lib/*/*.js
test/*.js
test/*/*.js
*.log
*.map
*.pid
delete-me
tmp
test/tmp
logs/*.err
logs/*.out
######################################################################
$RECYCLE.BIN/
*.*~
*.log~
*.un~
*~
.*.sw[a-z]
.DS_Store
.Spotlight-V100
.Trashes
.\#*
._*
.directory
.elc
/.emacs.desktop
/.emacs.desktop.lock
Desktop.ini
Session.vim
Thumbs.db
\#*\#
auto-save-list
logs
temp
tmp
tramp
.~*
.DS_Store
